@model QMS.ViewModels.CorrectiveActionFormViewModel;
<div class="form-group col-md-3">
    <label for="Details" class="font-weight-bold mb-0">Current Status:</label>
    <div>@Html.DisplayFor(model => model.StatusLabel)</div>
</div>