@{
    ViewData["Title"] = "QMS User Guides";
}
<h2 class="mt-1">QMS User Guides</h2>

<div class="mt-3">
    <h5>See the following QMS User Guides for questions on how to use this website:</h5>
    <ul class="nav flex-column">
        <li class="nav-item"><a class="nav-link" href="~/pdf/BRReviewer_20200605.pdf" target="_blank">Benefits and Retirement Reviewer</a></li>
        <li class="nav-item"><a class="nav-link" href="~/pdf/BRSpecialist_20200605.pdf" target="_blank">Benefits and Retirement Specialist</a></li>
        <li class="nav-item"><a class="nav-link" href="~/pdf/SCReviewer_20200605.pdf" target="_blank">HR Service Center Reviewer</a></li>
        <li class="nav-item"><a class="nav-link" href="~/pdf/SCSpecialist_20200605.pdf" target="_blank">HR Service Center Specialist</a></li>
        <li class="nav-item"><a class="nav-link" href="~/pdf/PPRMReviewer_20200605.pdf" target="_blank">PPRM Reviewer</a></li>
        <li class="nav-item"><a class="nav-link" href="~/pdf/PPRMSpecialist_20200605.pdf" target="_blank">PPRM Specialist</a></li>
    </ul>
</div>