@model QMS.ViewModels.CorrectiveActionFormViewModel;
<div class="form-group col-md-3">
    <label for="Details" class="font-weight-bold mb-0">Personnel Office ID Desc:</label>
    <div class="mt-1">@Html.DisplayFor(model => model.PersonnelOfficeIDDesc)</div>
</div>