@{
    ViewData["Title"] = "Unauthorized";
}
<h1>@ViewData["Title"]</h1>

<h4>You are currently unauthorized to use QMS.</h4>
<p>If you believe you have received this message in error, please contact <span style="color:red;font-weight:bold;">[TODO: provide correct contact info]</span>.</p>