@model QMS.ViewModels.CorrectiveActionFormViewModel;
<div class="form-group col-md-8 mb-0">
    <label for="Details" class="font-weight-bold">Enter Correction Details<span class="text-danger font-weight-bolder">*</span></label>
    <textarea readonly asp-for="Details" class="form-control" style="margin-top:0px;" rows="3" cols="40"></textarea>
    <span asp-validation-for="Details" class="text-danger"></span>
</div>