@model QMS.ViewModels.CorrectiveActionFormViewModel;
<div class="form-group col-md-3">
    <label for="Details" class="font-weight-bold mb-0">Assigned To:</label>
    <div>
        @Html.DisplayFor(model => model.AssignedToUserName)<br/>
        @Html.DisplayFor(model => model.AssignedToOrgLabel)
    </div>
</div>