<ul class="nav nav-pills">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle"
           data-toggle="dropdown"
           href="#"
           role="button"
           aria-haspopup="true"
           aria-expanded="false">Menu 1</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Menu 1-A</a>
            <a class="dropdown-item" href="#">Menu 1-B</a>
            <a class="dropdown-item" href="#">Menu 1-C</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Separated link</a>
        </div>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle"
           data-toggle="dropdown"
           href="#"
           role="button"
           aria-haspopup="true"
           aria-expanded="false">Menu 2</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Menu 2-A</a>
            <a class="dropdown-item" href="#">Menu 2-B</a>
            <a class="dropdown-item" href="#">Menu 2-C</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Separated link</a>
        </div>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle"
           data-toggle="dropdown"
           href="#"
           role="button"
           aria-haspopup="true"
           aria-expanded="false">Menu 3</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Menu 3-A</a>
            <a class="dropdown-item" href="#">Menu 3-B</a>
            <a class="dropdown-item" href="#">Menu 3-C</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Separated link</a>
        </div>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
    </li>
</ul>